@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 100px;
  width: 100vw;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background-color: rgb(238, 176, 122);
  z-index: 120;
  width: 60%;
  max-width: 70%;
  /* height: 45vh; */
}

.box h1 {
  font-family: "Oswald", sans-serif;
  margin: 8px 0px;
}

.box p {
  font-family: "Caveat", sans-serif;
  margin:4px 4px 4px 4px;
  line-height: 15px;
  padding: 0.1rem;
}

.box p::first-letter{
  font-size:1.5rem
}

@media (max-width:40rem){
  .container{
    position: absolute;
    top: 180px;
    height: 50vh;
    /* width: 120vw; */
    /* left:0px;
    right: 20px; */
  }

  .box p{
    font-size: 0.7rem;
  }

  .box h1{
    font-size: 1rem;
  }
}
